* {
  font-size: 20px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  border: 1px solid white;
  padding: 5rem;
}

.texto {
  font-size: 2rem;
  color: red;
}